<div nz-row>
    <div nz-col nzSpan="8">
        <canvas #rendererCanvas></canvas>
    </div>
    
</div>
<div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="8" *ngFor="let box of boxes">
          <nz-card nzTitle="{{box.name}}" [nzCover]="coverTemplate" [nzLoading]="true">
                <nz-card-meta nzTitle="{{box.name}}" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
                <img alt="example" src="/sample/textures/box/Frosted Flakes.jpg" />
              </ng-template>
        </div>
      </div>
